/* Forumansicht */
.mod_forum a
{
	text-decoration: none;
}

.mod_forum input[type=text]
{
	width: 98%;
	padding: 5px;
	border-radius: 7px;
}

.mod_forum td
{
	vertical-align: top;
}

.mod_forum td.abstand
{
	height: 5px;
}

.mod_forum tr.odd
{
 	background-color: #ffffff; 
}

.mod_forum tr.even
{
 	background-color: #e6e6e6; 
}


/* Kategorieansicht */
.mod_forum table.categories
{
	width: 100%;
}

.mod_forum .categories td.title
{
	background-color: #C0C0C0; 
	color: #000000; 
	font-size: 16px;
	font-weight: bold;
	font-family: Arial,Helvetica,sans-serif;
	padding: 5px;
	border-radius: 7px;
}

/* Threadansicht */
.mod_forum table.threads
{
	width: 100%;
}

.mod_forum .threads tr.head
{
 	background-color: #C0C0C0; 
 	color: #000000; 
}

.mod_forum .threads th.title
{
	width: 60%;
}

.mod_forum .threads th.initdate
{
	width: 20%;
}

.mod_forum .threads th.actdate
{
	width: 20%;
}

.mod_forum .threads td.title
{
	font-size: 16px;
	font-weight: bold;
}

/* Topicansicht */
.mod_forum table.topics
{
	width: 100%;
}

.mod_forum .topics tr.head
{
 	background-color: #C0C0C0; 
 	color: #000000; 
}

.mod_forum .topics th.text
{
	width: 80%;
}

.mod_forum .topics th.topicdate
{
	width: 20%;
}

.mod_forum .topics td.text
{
	font-size: 14px;
	color: #27004F;
}

/* Formularansicht */
.mod_forum div.form
{
	margin: 20px 0px 20px 0px;
}
